<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Cost and Benefits
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <p>
        Applications are reviewed by the Board of Trustees, who are responsible for selecting the WestStar class. Only
        one class is chosen each year. Selection is based on leadership achievements and potential to contribute to the
        development of the region. Geography and diversity are factors in the overall class selection. Past participants
        have been chosen from all occupations and levels of community and regional involvement. WestStar does not select
        on the basis of age, sex, race or religion.
      </p>
      <br>
      <p>
        Candidates need to provide a completed application. Applications may be faxed, but the original must be on file
        in the WestStar office to be eligible for selection.
      </p>
      <br>
      <p>
        If accepted for the program, a tuition fee of $750 is payable prior to the first session. The fee includes meals
        during each session, breaks, program materials and expenses. Participants are responsible for their own lodging
        and transportation. Two-thirds of actual participant cost is underwritten by the program sponsors.
      </p>
      <br>
      <p>
        WestStar is an exciting program of study designed exclusively for class members. One of the major benefits of
        the program is the interaction with other class members and the people who are shaping the future of West
        Tennessee. Therefore, the program requires full participation by those selected for the program. Applicants
        should carefully review the program dates and assure their availability for all sessions. Board of Trustee
        policy specifies that any absence from a session or any part of a session be reviewed by the Trustees to
        determine if continued successful participation is still feasible.
      </p>
      <br>
      <p>
        WestStar benefits the people of West Tennessee first and foremost as a result of the knowledge, commitment,
        excitement, and enthusiasm graduates have for helping the region achieve its potential. Individuals also benefit
        from:
      </p>
      <ul>
        <li>
          The new skills and knowledge they have gained from the seminars
        </li>
        <li>
          The contact and friendships made with fellow class members and recognized state leaders
        </li>
        <li>
          The confidence acquired in their ability to make a difference in their communities and the region
        </li>
        <li>
          Public recognition from membership in a unique commitment to serving their communities and the state
        </li>
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>