<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Mission, Vision, & History
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card padding>
    <h4>Mission</h4>
    <p>
      The WestStar mission is to identify, encourage and equip community-minded people who want to become more involved,
      who want to help West Tennessee become a better place, and who are willing to accept assertive and dynamic
      leadership roles.
    </p>
    <br>
    <p>
      Participants learn new leadership skills and develop strategies for assisting communities in solving problems and
      maximizing potential. Participants also become part of a growing network of other leaders who through mutual
      support and assistance shape the future of West Tennessee. WestStar is committed to advancing the regional and
      global community through outreach and community/public service endeavors.
    </p>

  </ion-card>
  <ion-card padding>
    <h4>Vision</h4>
    <p>
      WestStar will be the premier leadership program in the U.S. that establishes and elite group of people bonded by
      their commitment to realizing the educational, economic and social development of West Tennessee.
    </p>
  </ion-card>
  <ion-card padding>
    <h4>
      History
    </h4>
    <p>
      WestStar was created in 1989 to serve the 21 counties of West Tennessee by providing leadership development and
      training for selected participants.
    </p>
    <br>
    <p>
      WestStar consists of an orientation retreat and eight specially designed seminar programs addressing contemporary
      major issues important to the development of West Tennessee. There is a separate evening graduation banquet. Each
      seminar takes place over a two-day period, approximately three weeks apart for six months. Topics vary from year
      to year according to the changing events in West Tennessee, WestStar stresses the importance of regional and
      community responsibility for creating progress. Every Effort is made to present the most up-to-date information by
      those who are making policy changes in Tennessee.
    </p>
  </ion-card>
</ion-content>